awscli==1.17.1
botocore==1.14.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
docutils==0.15.2
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.3.0
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
